<div class="designer">
    <div class="left">
        <main class="main">
            <div>
              <div class="tab">
                <div class="tab-menu">
                  <button 
                    (click)="activeTabContent['leftTabId'] = '0'"
                    class="tab-menu-link" [ngClass]="{'active':activeTabContent['leftTabId'] == '0'}" data-content="first">
                    <span data-title="first">Palette</span>
                  </button>
                  <button 
                    (click)="activeTabContent['leftTabId'] = '1'"
                    class="tab-menu-link" [ngClass]="{'active':activeTabContent['leftTabId'] == '1'}"data-content="second">
                    <span data-title="second">User Assets</span>
                  </button>
                </div>
                <div class="tab-bar">
                  <div class="tab-bar-content" [ngClass]="{'active':activeTabContent['leftTabId'] == '0'}" *ngIf="activeTabContent['leftTabId'] == '0'">
                    <app-left-menu #leftMenu></app-left-menu>
                  </div>
                  <div class="tab-bar-content" [ngClass]="{'active':activeTabContent['leftTabId'] == '1'}" *ngIf="activeTabContent['leftTabId'] == '1'">
                    <app-assets #assets></app-assets>
                  </div>
              </div>
              </div>
            </div>
          </main>
    </div>
    <div class="middle">
      <div  [ngClass]="{'designerspace':activeTabContent['backgroundVisible'],'transdesignerspace':!activeTabContent['backgroundVisible']}"
            (click)="activeTabContent['activeelement'] = '-1'"
            [ngStyle]="{
            'background':activeTabContent['backgroundColor'],
            'opacity': activeTabContent['backgroundOpacity']+'%'}">
            <app-designer (refresh)="refresh($event)"></app-designer>
      </div>
      
    </div>
    <div class="right">
      <main class="main">
        <div>
          <div class="tab">
            <div class="tab-menu">
              <button 
                (click)="activeTabContent['rightTabId'] = '0'"
                class="tab-menu-link " [ngClass]="{'active':activeTabContent['rightTabId'] == '0'}" data-content="first">
                <span data-title="first">Design</span>
              </button>
              <button 
                (click)="activeTabContent['rightTabId'] = '1'"
                class="tab-menu-link" [ngClass]="{'active':activeTabContent['rightTabId'] == '1'}" data-content="second">
                <span data-title="second">CSS</span>
              </button>
            </div>
            <div class="tab-bar">
                <div class="tab-bar-content" [ngClass]="{'active':activeTabContent['rightTabId'] == '0'}" *ngIf="activeTabContent['rightTabId'] == '0'">
                  <app-right-menu #rightMenu [elementData]="elementData"></app-right-menu>
                </div>
                <div class="tab-bar-content" [ngClass]="{'active':activeTabContent['rightTabId'] == '1'}" *ngIf="activeTabContent['rightTabId'] == '1'">
                  <app-code #code></app-code>
                </div>
            </div>
          </div>
        </div>
      </main>
    </div>
</div>