<div (click)="dataService.tabs[dataService.activeTabId]['activeelement'] = i;$event.stopPropagation()"
draggable="true" (dragstart)="dragStart(i,element)" (drop)="drop(i)"
    (dragend)="dragEnd(element)" (dragover)="dragOver = i" (dragleave)="dragOver = '-1'"
    [ngClass]="element.width==undefined ? 'col-5 col-sm-5 col-md-5 ' : 'col-'+element.width+' col-sm-'+element.width+' col-md-'+element.width+' '+(dataService.tabs[dataService.activeTabId]['activeelement'] == i?'active':'notactive')+' '+(dragOver == i?'dragOver':'nothing')">
    <hr [ngStyle]="{'height':element['height']+'px','background':element['color']}">
</div>