<table>
  <tr>
    <th class="width10" (click)="addParam()">+</th>
    <th class="borderleftNone width10 textaligncenter">Mandatory</th>
    <th>Param Name</th>
    <th>Param Type</th>
    <th>Default Value</th>
    <th class="borderrightnone">Description</th>
    <th class="borderrightnone width10 textaligncenter borderleftNone"></th>
  </tr>
  <ng-container *ngFor="let param of apiQueryParams">
    <tr class="rowdata">
      <td class="borderleftNone borderrightnone paddingNone"></td>
      <td class="borderleftNone width10 textaligncenter paddingNone"><input autocomplete="off" name="paramactive" (change)="updateParam(param)" type="checkbox" [(ngModel)]="param.mandatory"></td>
      <td class="paddingNone"><input autocomplete="off" class="paramInput" name="paramname" (change)="updateParam(param)" type="text" placeholder="param name" [(ngModel)]="param.paramName"></td>
      <td class="paddingNone"><input autocomplete="off" type="text" class="paramInput" name="paramtype" placeholder="param type"></td>
      <td class="paddingNone"><input autocomplete="off" class="paramInput" name="paramdefaultValue" (change)="updateParam(param)" type="text" placeholder="default value" [(ngModel)]="param.defaultvalue"></td>
      <td class="borderrightnone paddingNone"><input autocomplete="off" name="paramdesc" (change)="updateParam(param)" class="paramInput" type="text" placeholder="description" [(ngModel)]="param.description"></td>
      <td class="borderrightnone width10 textaligncenter borderleftNone paddingNone paddingright10 closebtn" (click)="deleteParam(param)">X</td>
    </tr>
  </ng-container>
</table>