<div class="header">
  Native Types
</div>
<div class="body">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  search native types">
  </div>
  <ul class="directory-list">
    <li (click)="openORcloseR()" [ngClass]="{'folderopen':(isRootOpen),'folderclose':(!isRootOpen)}">
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: 'RH' }"> </ng-container>
      <span class="bold"> Root </span>
      <ul *ngIf="isRootOpen">
        <ng-container *ngTemplateOutlet="components; context:{ list: templateService.nativeComponents,type:'R',hastab:true }">
        </ng-container>
      </ul>
    </li>
  </ul>
  <ul class="directory-list">
    <li (click)="openORcloseST()" [ngClass]="{'folderopen':(isSimpletypesOpen),'folderclose':(!isSimpletypesOpen)}">
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: 'STH' }"> </ng-container>
      <span class="bold"> Simple Types </span>
      <ul *ngIf="isSimpletypesOpen">
        <ng-container *ngTemplateOutlet="components; context:{ list: templateService.nativeComponents,type:'ST',hastab:false }">
        </ng-container>
      </ul>
    </li>
  </ul>
  <ul class="directory-list">
    <li (click)="openORcloseCT()" [ngClass]="{'folderopen':(isComplextypesOpen),'folderclose':(!isComplextypesOpen)}">
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: 'CTH' }"> </ng-container>
      <span class="bold"> Complex Types </span>
      <ul *ngIf="isComplextypesOpen">
        <ng-container *ngTemplateOutlet="components; context:{ list: templateService.nativeComponents,type:'CT',hastab:true }">
        </ng-container>
      </ul>
    </li>
  </ul>
  <ul class="directory-list">
    <li (click)="openORclosePT()" [ngClass]="{'folderopen':(isPrimitivtypesOpen),'folderclose':(!isPrimitivtypesOpen)}">
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: 'PTH' }"> </ng-container>
      <span class="bold"> Primitive Types </span>
      <ul *ngIf="isPrimitivtypesOpen">
        <ng-container *ngTemplateOutlet="components; context:{ list: templateService.nativeComponents,type:'PT',hastab:false }">
        </ng-container>
      </ul>
    </li>
  </ul>
</div>

<ng-template #components let-list="list" let-type="type" let-hastab="hastab">
  <ng-container *ngFor="let nativeComponent of list">
    <li draggable="true" (dragstart)="dragStart(nativeComponent)" (dragend)="dragEnd($event)" (dragover)="dragOver($event)"
        class="nativetype" *ngIf="((nativeComponent.type == type && !nativeComponent.roottype)  || (type == 'R' && nativeComponent.type=='CT' && nativeComponent.roottype)) && (!searchText || searchText=='' ||  nativeComponent.typeName.toLocaleLowerCase().indexOf(searchText.toLocaleLowerCase())>-1)" 
        (dblclick)="stoppropagation()" (click)="stoppropagation()"> 
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: (type == 'R' && nativeComponent.type=='CT' && nativeComponent.roottype)?'R':nativeComponent.type }"> </ng-container>
      <ng-container *ngIf="editableTypeId == nativeComponent.id.typeId">
        <input class="nativetypes" title="{{nativeComponent.typeName}}" type="text" id="{{nativeComponent.typeName}}" value="{{nativeComponent.typeName}}"
        autocomplete="off" (blur)="editableTypeId = ''" (change)="changeTypeName(nativeComponent,$event.target.value)" (dblclick)="stoppropagation()" (click)="stoppropagation()">
      </ng-container>
      <ng-container *ngIf="editableTypeId != nativeComponent.id.typeId">
        <div class="readonlytype bg-t" title="{{nativeComponent.typeName}}" (dblclick)="activateEdit(nativeComponent)" (click)="openTab(nativeComponent,hastab)">
          {{nativeComponent.typeName}}
        </div>
      </ng-container> 
      <ng-container *ngIf="editableTypeId != nativeComponent.id.typeId && nativeComponent.type != 'PT'">
      <div class="opitions" *ngIf="!nativeComponent.roottype">
        <i class="fa fa-registered" (click)="makeAsRoot(nativeComponent)" *ngIf="nativeComponent.type == 'CT'" aria-hidden="true"></i>
      </div>     
      <div class="opitions">
        <i class="fa fa-trash" aria-hidden="true" (click)="deleteNativeComponent(nativeComponent)"></i>
      </div>  
    </ng-container>
    </li>
  </ng-container>
</ng-template>

<ng-template #iconImg let-type="type">
  <img src="../../assets/images/explorer/arrow-right.svg" *ngIf="type == '0'">
  <img src="../../assets/images/explorer/arrow-down.svg" *ngIf="type == '1'">
  <img src="../../assets/images/templatedesigner/simpletype.svg" *ngIf="type == 'ST'">
  <img src="../../assets/images/templatedesigner/complextype.svg" *ngIf="type == 'CT'">
  <img src="../../assets/images/templatedesigner/primitivetype.svg" *ngIf="type == 'PT'">
  <img src="../../assets/images/templatedesigner/root.svg" *ngIf="type == 'R'">
</ng-template>