<div class="header">
  Native Components
</div>
<div class="body">
  <ul class="directory-list">
    <li [ngClass]="{'folderopen':(isSimpletypesOpen == '1'),'folderclose':(isSimpletypesOpen == '0')}">
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: 'ST' }"> </ng-container>
      <span> Simple Types </span>
      <ul *ngIf="isSimpletypesOpen == '1'">
        <ng-container *ngTemplateOutlet="components; context:{ list: templateService.nativeComponents,type:'ST' }">
        </ng-container>
      </ul>
    </li>
  </ul>
  <ul class="directory-list">
    <li [ngClass]="{'folderopen':(isComplextypesOpen == '1'),'folderclose':(isComplextypesOpen == '0')}">
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: 'CT' }"> </ng-container>
      <span> Complex Types </span>
      <ul *ngIf="isComplextypesOpen == '1'">
        <ng-container *ngTemplateOutlet="components; context:{ list: templateService.nativeComponents,type:'CT' }">
        </ng-container>
      </ul>
    </li>
  </ul>
</div>

<ng-template #components let-list="list" let-type="type">
  <ng-container *ngFor="let nativeComponent of list">
    <li *ngIf="nativeComponent.type == type"> 
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: item.type }"> </ng-container>
      <span [ngClass]="{'active':dataService.selectedItemDetails.id == item.id}">
        {{ item.typeName }}</span>
    </li>
  </ng-container>
</ng-template>

<ng-template #iconImg let-type="type">
  <img src="../../assets/images/explorer/arrow-right.svg" *ngIf="type == '0'">
  <img src="../../assets/images/explorer/arrow-down.svg" *ngIf="type == '1'">
</ng-template>