<div *ngIf="getTabs().length>0">
  <div class="apidata">
    <div class="top">
      <div class="methodurl">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle methodbtn" [class]="api.method" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{api.method}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item POST" (click)="api.method ='POST';update()">POST</a>
            <a class="dropdown-item GET" (click)="api.method ='GET';update()">GET</a>
            <a class="dropdown-item PUT" (click)="api.method ='PUT';update()">PUT</a>
            <a class="dropdown-item DELETE" (click)="api.method ='DELETE';update()">DELETE</a>
          </div>
        </div>
      </div>
      <input class="urlinput" (change)="update()" [(ngModel)]="api.url" type="text" placeholder="enter the url here">
    </div>
    <div class="bottom">
      <div class="apiname">
        <label class="label">Name</label>
        <input class="inputform" [(ngModel)]="api.apiName" type="text" (change)="update()">
      </div>
      <div class="desc">
        <label class="label">Description</label>
        <input class="inputform" [(ngModel)]="api.desc" type="text" (change)="update()">
      </div>
    </div>
  </div>
  <div class="apiparms" *ngIf="api.method as method">
    <div class="paramtab" [ngClass]="[(activeParamTabId == 0)?method+'': '']" (click)="setActiveParamTabId(0)">Authorization</div>
    <div class="paramtab" [ngClass]="[(activeParamTabId == 1)?method+'': '']" (click)="setActiveParamTabId(1)">Path Params</div>
    <div class="paramtab" [ngClass]="[(activeParamTabId == 2)?method+'': '']" (click)="setActiveParamTabId(2)">Query Params</div>
    <div class="paramtab" [ngClass]="[(activeParamTabId == 3)?method+'': '']" (click)="setActiveParamTabId(3)">Headers</div>
    <div class="paramtab" [ngClass]="[(activeParamTabId == 4)?method+'': '']" (click)="setActiveParamTabId(4)">Request</div>
    <div class="paramtab" [ngClass]="[(activeParamTabId == 5)?method+'': '']" (click)="setActiveParamTabId(5)">Response</div>
  </div>
  <div class="apiparamstabdata">
    <app-pathparams #pathparam *ngIf="activeParamTabId == 1" [api]="api"></app-pathparams>
  </div>
</div>
