.top{
  display: flex;
}

.methodurl{
  display: flex;
}

.dropdown{
  flex:1;
  cursor: pointer;
}

.dropdown:hover{
  font-weight: 600;
}

.methodbtn{
    height: 35px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    border: none;
}

.urlinput{
  flex: 5;
  height: 35px;
  border-radius: 0 5px 5px 0;
  background: #ffffff;
  color: #343434;
  border: 0.5px solid lightgray;
}

.bottom{
  display: flex;
}

.apiname{
  flex: 1;
  margin-right: 3px;
}

.desc{
  flex: 2;
}

.label{
  padding-bottom: 0;
  margin-bottom: 3px;
  background: none;
  color: #343434;
  font-size: 13px;
  font-weight: 100;
}

.inputform{
  width: 100%;
  height: 35px;
  border: 0.5px solid lightgray;
}

.dropdown .POST{
  background: #49cc90;
  color: white;
}

.dropdown .GET{
  background: #61affe;
  color: white;
}

.dropdown .PUT{
  background: #fca130;
  color: white;
}

.dropdown .DELETE{
  background: #fc3030;
  color: white;
}

.apiparms{
  display: inline-block;
}

.paramtab{
  flex: 1;
  color: #343434;
  display: inline-block;
  margin: 0px 20px;
  text-align:center;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 5px;
}

.apiparms .POST{
  border-bottom: 2px solid #49cc90;
}

.apiparms .PUT{
  border-bottom: 2px solid #fca130;
}

.apiparms .GET{
  border-bottom: 2px solid #61affe;
}

.apiparms .DELETE{
  border-bottom: 2px solid #fc3030;
}

.dropdown-menu{
  background: white;
  border: none;
  box-shadow: none;
}