<div class="adminportal">
  <div class="leftpanel">
    <div class="navmenu" title="Fluid">
      <img style="margin-bottom: 100px;" src="../../assets/images/signin/nature.svg">
    </div>
    <div class="navmenu" title="dashboard">
      <img src="../../assets/images/apps/dashboard.svg">
    </div>
    <div class="navmenu" title="projects">
      <img src="../../assets/images/apps/projects.svg">
    </div>
    <div class="navmenu" title="Users">
      <img src="../../assets/images/apps/users.svg">
    </div>
    <div class="navmenu" title="reports">
      <img src="../../assets/images/apps/reports.svg">
    </div>
  </div>
  <div class="rightpanel">
  
  </div>
</div>
