<div (click)="dataService.tabs[dataService.activeTabId]['activeelement'] = i;$event.stopPropagation()"
    draggable="true" (dragstart)="dragStart(i,element)" (drop)="drop(i)" (dragend)="dragEnd(element)"
    (dragover)="dragOver = i" (dragleave)="dragOver = '-1'"
    [ngClass]="element.width==undefined ? 'col-5 col-sm-5 col-md-5 ' : 'col-'+element.width+' col-sm-'+element.width+' col-md-'+element.width+' '+(dataService.tabs[dataService.activeTabId]['activeelement'] == i?'active':'notactive')+' '+(dragOver == i?'dragOver':'nothing')">
    <label *ngIf="element.align == '1'">
        <!-- <input *ngIf="!element.label" [type]="text" readonly> -->
        <span class="mandatoryspan" *ngIf="element.mandatory && element.label">*</span>
        <input [ngStyle]="{'text-align':element['label-align']}" *ngIf="element.label" type="text"
            placeholder="enter the label" [value]="element.name" [(ngModel)]="element.name"
            (focus)="dataService.tabs[dataService.activeTabId]['activeelement'] = i">
    </label>
    <input [id]="'element'+i" [ngStyle]="{'background':(element.readonly)?'lightgray':'white'}"
        [type]="element.typedesc" [value]="element.placeholder" placeholder="enter the placeholder"
        [(ngModel)]="element.placeholder" (focus)="dataService.tabs[dataService.activeTabId]['activeelement'] = i">
    <label *ngIf="element.align == '2'">
        <!-- <input *ngIf="!element.label" [type]="text" readonly> -->
        <span class="mandatoryspan" *ngIf="element.mandatory && element.label">*</span>
        <input [ngStyle]="{'text-align':element['label-align']}" *ngIf="element.label" type="text"
            placeholder="enter the label" [value]="element.name" [(ngModel)]="element.name"
            (focus)="dataService.tabs[dataService.activeTabId]['activeelement'] = i">
    </label>
    <ng-container *ngIf="addcustomcss('element'+i,element.customcss) && enablereadonly('element'+i,element.readonly)">
    </ng-container>
</div>