.alert{
  position: fixed;
  bottom: 3%;
  background: black;
  left: 3%;
  width: 30%;
  height: 45px;
  border-radius: 5px;
  display: flex;
  padding: 7px 10px;
  cursor: pointer;
  margin: 0;
  border: none;
  -webkit-animation: all 2s; /* Chrome, Safari, Opera */ 
  animation: all 5s;
  animation-fill-mode: forwards;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 25px 0 rgb(0 0 0 / 19%);
}

@keyframes all {
  0%   {bottom:-10%}
  20% {bottom: 3%;}
  80% {bottom: 3%;}
}

@-webkit-keyframes all {
  0%   {bottom:-10%}
  20% {bottom: 3%;}
  80% {bottom: 3%;}
}

.img{
  flex: 3;
}

.img img{
  width: 30px;
}

.msg{
  flex: 20;
  padding: 3px 0px;
  color: white;
}

.closebtn{
  flex: 1;
  font-size: revert;
  text-align: center;
  color: white;
  padding: 3px 0px;
}