<table>
  <tr>
    <th class="borderleftNone width10" (click)="addPathParam()">+</th>
    <th class="borderleftNone width10 textaligncenter">Active</th>
    <th class="width20p">Param Name</th>
    <th class="borderrightnone">Param Type</th>
    <th class="borderleftNone borderrightnone"></th>
    <th class="borderrightnone">Description</th>
    <th class="borderrightnone width10 textaligncenter borderleftNone"></th>
  </tr>
  <ng-container *ngFor="let pathparam of apiPathParams">
    <tr class="rowdata">
      <td class="borderleftNone borderrightnone paddingNone paddingleft10 o-btn fontsize14" (click)="addPathParam()" > + </td>
      <td class="borderleftNone width10 textaligncenter paddingNone"><input autocomplete="off" name="pathparamactive" (change)="updatePathParam(pathparam)" type="checkbox" [(ngModel)]="pathparam.active"></td>
      <td class="paddingNone"><input autocomplete="off" class="pathparamInput" name="pathparamname" (change)="updatePathParam(pathparam)" type="text" placeholder="param name" [(ngModel)]="pathparam.paramName"></td>
      <td class="paddingNone borderrightnone paddingleft10"><span (click)="opensimpletypes()">{{pathparam.paramTypename}}</span></td>
      <td class="borderrightnone borderleftNone width72 o-btn"> <app-search-simpletypes #simpletypeSearch [param]="pathparam"  (typeId)="updatePathParam($event)"></app-search-simpletypes></td>
      <td class="borderrightnone paddingNone"><input autocomplete="off" name="pathparamdesc" (change)="updatePathParam(pathparam)" class="pathparamInput" type="text" placeholder="description" [(ngModel)]="pathparam.description"></td>
      <td class="borderrightnone width10 textaligncenter borderleftNone paddingNone paddingright10 o-btn" (click)="deletePathParam(pathparam)">X</td>
    </tr>
  </ng-container>
</table>