<table>
  <tr>
    <th class="borderleftNone width10 paddingleft10" (click)="addRequestTemplate()">+</th>
    <th class="borderleftNone width10 textaligncenter">Active</th>
    <th>Consumes Type</th>
    <th class="borderrightnone">Template</th>
    <th class="borderleftNone borderrightnone width10"></th>
    <th class="borderrightnone">Description</th>
    <th class="borderrightnone width10 textaligncenter borderleftNone"></th>
  </tr>
  <ng-container *ngFor="let requesttemplate of apiRequestTemplates">
    <tr class="rowdata">
      <td class="borderleftNone borderrightnone paddingNone paddingleft10 o-btn" (click)="addRequestTemplate()"> + </td>
      <td class="borderleftNone width10 textaligncenter paddingNone"><input autocomplete="off" name="requesttemplateactive" (change)="updateRequestTemplate(requesttemplate)" type="checkbox" [(ngModel)]="requesttemplate.active"></td>
      <td class="paddingNone width15p borderrightnone"><input autocomplete="off" class="paramInput" name="requesttemplateType" (change)="updateRequestTemplate(requesttemplate)" type="text" placeholder="consumes type" [(ngModel)]="requesttemplate.type"></td>
      <td class="paddingNone borderrightnone"><input readonly autocomplete="off" type="text" class="paramInput" name="requesttemplate" placeholder="template" (change)="updateRequestTemplate(requesttemplate)" [(ngModel)]="requesttemplate.templatename"></td>
      <td class="o-btn borderleftNone borderrightnone width72"> <app-search-templates [template]="requesttemplate"  (templateId)="updateRequestTemplate($event)"></app-search-templates> </td>
      <td class="borderrightnone paddingNone"><input autocomplete="off" name="description" (change)="updateRequestTemplate(requesttemplate)" class="paramInput" type="text" placeholder="description" [(ngModel)]="requesttemplate.description"></td>
      <td class="borderrightnone width10 textaligncenter borderleftNone paddingNone paddingright10 o-btn" (click)="deleteRequestTemplate(requesttemplate)">X</td>
    </tr>
  </ng-container>
</table>
