<div class="top">
  <div class="center">
  <div class="app" (click)="open('home')">
    <div class="applogo">
      <img src="../../assets/images/menu/folderopen.svg">
    </div>
    <div>
      Explorer
    </div>
  </div>
  <div class="app">
    <div class="applogo">
      <img src="../../assets/images/apps/jsonapp.svg">
    </div>
    <div>
      Json Formattor
    </div>
  </div>
  <div class="app">
    <div class="applogo">
      <img src="../../assets/images/apps/apiexchange.svg">
    </div>
    <div>
      API Exchange
    </div>
  </div>
  <div class="app">
    <div class="applogo">
      <img src="../../assets/images/explorer/folderwithfiles.svg">
    </div>
    <div>
      Documentation
    </div>
  </div>
  <div class="app">
    <div class="applogo">
      <img src="../../assets/images/apps/dashboard.svg">
    </div>
    <div>
      Dashboard
    </div>
  </div>
  <div class="app">
    <div class="applogo">
      <img src="../../assets/images/apps/reports.svg">
    </div>
    <div>
      Reports
    </div>
  </div>
</div>
</div>
<div class="bottom">
  <div class="logo">
    <img src="../../assets/images/signin/nature.svg">
  </div>
  <div class="copyright">
    @2021 copyright, All rights are reserved
  </div>
</div>