table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  color: #444444;
  font-size: 14px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

.borderleftNone{
  border-left: none;
}

.borderrightnone{
  border-right: none;;
}

.width10{
  width: 10px;
}

.width30{
  width: 30px;
}

.width15p{
  width: 15%;
}

.textaligncenter{
  text-align: center;
}


.paramInput{
  width: 100%;
  height: 30px;
  border: none;
  background: transparent;
  padding: 5px;
  margin: 0px;
  box-shadow: none;
}

.paddingNone{
  padding: 0;
}

.paddingright10{
  padding-right: 10px;
}

.o-btn{
  color: lightgray;
}

.rowdata:hover .o-btn{
  color: black;
}

.paddingleft10{
  padding-left: 10px;
}

.width72{
  width: 72px;
}
