.header{
  background: #1273eb;
    color: white;
    padding: 5px;
    font-size: 14px;
    height: 30px;
}
ul{
  margin: 0;
    padding: 5px;
}
.directory-list ul {
  margin-left: 10px;
  padding-left: 10px;
  width: max-content;
  border-left: 1px dashed #ddd;
}

.directory-list li {
  list-style: none;
  color: #6f6d6f;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}

.directory-list li span:hover {

  color:#2196F3;
}

.directory-list li .active {
  color:#2196F3;
}

.directory-list a {
  border-bottom: 1px solid transparent;
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}

.directory-list a:hover {
  border-color: #eee;
  color: #000;
}

.directory-list .folder,
.directory-list .folder > a {
  color: #777;
  font-weight: bold;
}


/* The icons
-------------------------------------------------------------- */

.directory-list li:before {
  margin-right: 2px;
  content: "";
  height: 22px;
  vertical-align: bottom;
  width: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  /* file icon by default */
  background-position: center 2px;
  background-size: 60% auto;
}

.directory-list li.nativetype:before {
  margin-right: 2px;
  content: "";
  height: 0px;
  vertical-align: bottom;
  width: 0px;
  background-repeat: no-repeat;
  display: none;
  /* file icon by default */
  background-position: center 2px;
  background-size: 60% auto;
}

.directory-list li img{
  width: 12px;
  vertical-align: baseline;
  margin-right: 5px;
}

.directory-list li.folderclose:before {
  /* folder icon if folder class is specified */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>"); */
  background-image: url("../../assets/images/explorer/arrow-right.svg");
  background-position: center center;
  background-size: 45% auto;
}


.directory-list li.folderopen:before {
  /* folder icon if folder class is specified */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>"); */
  background-image: url("../../assets/images/explorer/arrow-down.svg");
  background-position: center center;
  background-size: 45% auto;
}

.directory-list li.template:before {
  /* folder icon if folder class is specified */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>"); */
  background-image: url("../../assets/images/explorer/Template.svg");
  background-position: center top;
  background-size: 75% auto;
}

.nativetypes{
  border: none;
  width: 90%;
  -webkit-box-shadow: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  margin: 10px;
}

.form-control {
  height: 30px;
  margin: 0;
}

.form-control::placeholder  {
  font-family: FontAwesome;
}
.searchresults{
  max-height: 250px;
  width: 225px;
  font-size: 12px;
  z-index: 1;
  border: 1px solid lightgray;
  border-radius: 0px 0px 5px 5px;
  background: white;
  margin-top: 7px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
}

.filterdata{
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  cursor: pointer;
}

.filterdataimage{
  width: 20px;
  margin: 10px;
}

.filterdatapathandname{
  width: 80%;
}

.filterdataname{

}

.filterdatapath{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
