<div class="header">
  API's
</div>
<div class="body">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  search apis">
    </div>
    <ul class="list">
      <ng-container *ngTemplateOutlet="apis; context:{ list: apiService.apislist }">
      </ng-container>
    </ul>
</div>


<ng-template #apis let-list="list">
  <ng-container *ngFor="let api of list">
    <li class="api" *ngIf="(!searchText || searchText=='' || api.method.toLocaleLowerCase().indexOf(searchText.toLocaleLowerCase())>-1 || api.apiName.toLocaleLowerCase().indexOf(searchText.toLocaleLowerCase())>-1 || api.url.toLocaleLowerCase().indexOf(searchText.toLocaleLowerCase())>-1)" (click)="stopPropagation()" (dblclick)="activateEdit(api)" > 
      <ng-container *ngTemplateOutlet="iconImg; context:{ type: api.method }"> </ng-container>
        <div class="readonlytype bg-t"  (click)="stopPropagation()">
          <div class="apiname">
            <ng-container *ngIf="editableapi == api['id'].apiid">
              <input class="apiName" title="{{api.apiName}}" type="text" id="{{api.apiName}}" value="{{api.apiName}}" [(ngModel)]="api.apiName"
              autocomplete="off" (blur)="updateAPI(api)">
            </ng-container>
            <ng-container *ngIf="editableapi != api['id'].apiid">
              <div class="readonlytype bg-t" title="{{api.apiName}}" (dblclick)="activateEdit(api)" (click)="stopPropagation()">
                {{api.apiName}}
              </div>
            </ng-container>   
          </div>
          <div title="{{api.url}}" class="apiurl">
            <ng-container *ngIf="editableapi == api['id'].apiid">
              <input class="apiName" title="{{api.url}}" type="text" id="{{api.url}}" value="{{api.url}}" [(ngModel)]="api.url"
              autocomplete="off" (blur)="updateAPI(api)">
            </ng-container>
            <ng-container *ngIf="editableapi != api['id'].apiid">
              <div class="readonlytype bg-t" title="{{api.url}}" (dblclick)="activateEdit(api)" (click)="stopPropagation()">
                {{api.url}}
              </div>
            </ng-container>  
          </div>
        </div>
    </li>
  </ng-container>
</ng-template>


<ng-template #iconImg let-type="type">
  <img src="../../assets/images/ApiDesigner/post.svg" *ngIf="type == 'POST'">
  <img src="../../assets/images/ApiDesigner/put.svg" *ngIf="type == 'PUT'">
  <img src="../../assets/images/ApiDesigner/get.svg" *ngIf="type == 'GET'">
  <img src="../../assets/images/ApiDesigner/delete.svg" *ngIf="type == 'DELETE'">
</ng-template>