<ng-container *ngIf="getTabs().length>0">
    <div class="parent header">
      <div class="child" style="border-left: none;">Element Name</div>
      <div class="child"></div>
      <div class="child">Element Type</div>
      <div class="child textalign_center">Min</div>
      <div class="child textalign_center">Max</div>
    </div>
    <div class="elementtreeMain" draggable="false" (dragover)="dragOver($event)" (drop)="dragDrop(-1,1)">
    <ng-container *ngIf="typeElements">
      <div class="parent" draggable="false" (dragstart)="dragStart(typeElements)" (dragend)="dragEnd($event)"
        (dragover)="dragOver($event)" (drop)="dragDrop(-1,1)">
        <div class="child" [ngClass]="{'noborderleft': typeElements.type == 'CT'}">
          <ng-container *ngTemplateOutlet="iconImg; context:{ type: typeElements.type,path:typeElements.typeName }"> </ng-container>
          <span [ngClass]="typeElements.type === 'CT'?'pl5':'pl10'">{{typeElements.typeName}}</span>
        </div>
        <div class="child"></div>
        <div class="child" style="margin-left: 15px;">{{typeElements.typeName}}</div>
        <div class="child textalign_center">
          <input class="elementName width25" type="text" value="0">
        </div>
        <div class="child textalign_center width25">
          <input class="elementName width25" type="text" value="1">
        </div>
      </div>
      <ng-container *ngIf="typeElements.typeelements && openElements.indexOf(typeElements.typeName)==-1">
        <ng-container
          *ngTemplateOutlet="typeelementtemplate; context:{ typeelements: typeElements.typeelements, level:1, path:typeElements.typeName}">
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>


<ng-template #typeelementtemplate let-typeelements="typeelements" let-level="level" let-path="path">
  <ng-container *ngFor="let typeelement of typeelements; let i = index">
    <div [ngClass]="typeelement.typesrepo.type == 'CT' ?(i==typeelements.length-1)?'typeelementsblock'+level+' closeline'+level:'typeelementsblock'+level : ''">
      <div class="parent" [draggable]="level=='1'" (dragstart)="dragStart(typeelement)" (dragend)="dragEnd($event)"
        (dragover)="dragOver($event)" (drop)="dragDrop(i,level)">
        <div class="child mr{{level}}" 
            [ngClass]="typeelement.typesrepo.type == 'CT'?'noborderleft':(i==typeelements.length-1)?' closeline'+level:''">
          <ng-container *ngTemplateOutlet="iconImg; context:{ type: typeelement.typesrepo.type,path:path+'.'+typeelement.elementName}">
          </ng-container>
          <span [ngClass]="typeelement.typesrepo.type === 'CT'?'pl5':'pl10'">
            <input [readonly]="level!='1'" class="elementName" type="text" [(ngModel)]="typeelement.elementName"
              (change)="updateTypeElement(typeelement)">
          </span>
        </div>
        <div class="child">
          <ng-container
          *ngTemplateOutlet="elementTypeImg; context:{ native: templateId == typeelement.typesrepo.templateId, type:typeelement.typesrepo.type}">
        </ng-container>
        </div>
        <div class="child">
          {{typeelement.typesrepo.typeName}}
        </div>
        <div class="child textalign_center">
          <input [readonly]="level!='1'" class="elementName width25" type="text" [(ngModel)]="typeelement.minOccurs"
            (change)="updateTypeElement(typeelement)">
        </div>
        <div class="child textalign_center">
          <input [readonly]="level!='1'" class="elementName width25" type="text" [(ngModel)]="typeelement.maxOccurs"
            (change)="updateTypeElement(typeelement)">
        </div>
      </div>
      <ng-container *ngIf="typeelement.typesrepo.typeelements && openElements.indexOf(path+'.'+typeelement.elementName)==-1">
        <ng-container
          *ngTemplateOutlet="typeelementtemplate; context:{ typeelements: typeelement.typesrepo.typeelements,level:level+1,path:path+'.'+typeelement.elementName}">
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #iconImg let-type="type" let-path="path">
  <img src="../../assets/images/explorer/arrow-right.svg" (click)="openOrCloseElement(path)"  *ngIf="type == 'CT' && !(openElements.indexOf(path)==-1)">
  <img src="../../assets/images/explorer/arrow-down.svg" (click)="openOrCloseElement(path)" *ngIf="type == 'CT' && (openElements.indexOf(path)==-1)">
</ng-template>

<ng-template #elementTypeImg let-native="native" let-type="type">
  <ng-container *ngIf="type != 'PT'">
    <span style="color: green;" class="native" *ngIf="native">N</span>
    <span style="color: red;" class="refferred" *ngIf="!native">R</span>
  </ng-container>
  <ng-container *ngIf="type === 'PT'">
    <span style="color:gray;" class="native">P</span>
  </ng-container>
</ng-template>