.parent{
  display: flex;
  cursor: pointer;
}

.child{
  flex: 0.7; 
  padding-left: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.child img{
  cursor: pointer;
}

.parent .parent{
  padding-left: 20px;
}

.header{
  background: #1273eb;
    color: white;
}

.parent .child:nth-child(1){
  flex: 8 !important;
  border-left: 1px solid lightgray;
  margin-left: 10px;
}

.parent .child:nth-child(2){
  flex: 1 !important;
}

.parent .child:nth-child(3){
  flex: 0.3 !important;
}

.parent .child:nth-child(4){
  flex: 4 !important;
}

.textalign_center{
  text-align: center;
}

.noborderleft{
  border-left: none;
  border-left: none !important;
  margin-left: -4px !important;
  margin-right: 4px;
}

.parent .child img{
  width: 10px;
}
.closeline1{
  border-bottom: 1px solid rgb(255, 104, 104) !important;
  border-image: linear-gradient(to right, rgb(255, 104, 104) 1%, #FFF 1%) 1;
}

.closeline2{
  border-bottom: 1px solid rgb(69, 69, 253) !important;
  border-image: linear-gradient(to right, rgb(69, 69, 253) 1%, #FFF 1%) 1;
}
.closeline3{
  border-bottom: 1px solid lightcoral !important;
  border-image: linear-gradient(to right, lightcoral 1%, #FFF 1%) 1;
}

.typeelementsblock1{
  margin-left: 10px;
  border-left: 1px solid rgb(255, 104, 104);
}



.typeelementsblock2{
  margin-left: 10px;
  border-left: 1px solid rgb(69, 69, 253);
}

.typeelementsblock3{
  margin-left: 10px;
  border-left: 1px solid lightcoral;
}

.typeelementsblock4{
  margin-left: 10px;
  border-left: 1px solid lightgray;
}

.mr1{

  border-left-color: rgb(255, 104, 104) !important;
}


.mr2{
  margin-right: -10px;
  border-left-color:rgb(69, 69, 253) !important;
}

.mr3{
  margin-right: -25px;
  border-left-color: lightcoral !important;
}


.mr4{
  margin-right: -40px;
}

.native{
  color: green;
  font-size: 10px;
  font-weight: 600;
  margin-right: 5px;
}

.refferred{
  color: red;
  font-size: 10px;
  font-weight: 600;
  margin-right: 5px;
}

.pl10{
  padding-left: 10px;
}

.pl5{
  padding-left: 5px !important;
}

.elementName{
  border: none;
  box-shadow: none;
  margin: 0 !important;
  background: transparent;
}

.width25{
  width: 25px;
}

.elementtreeMain{
  height: 91%;
    position: absolute;
    width: 62.5%;
    overflow: hidden;
    overflow-y: auto;
}

.parent .opitions img{
  display: none;
  margin-top: 5px;
}


.parent:hover .opitions img{
  display: block;
}

.parent:hover{
  background: #e4eaf1;
}